Source: ubuntunotes
Section: user/network
Priority: extra
Maintainer: Aleksey Sidorov <gorthauer87@ya.ru>
Build-Depends: debhelper (>= 5),locales,cmake, libgconf2-6,libssl-dev,libxext-dev,libqt4-dev,libqca2-dev,libqca2-plugin-ossl, libqtm-dev
Standards-Version: 3.7.2

Package: ubuntunotes
Section: user/network
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},libidn11,libqca2-plugin-ossl
Description: TODO
XSBC-Maemo-Display-Name: ubuntuNotes
XSBC-Bugtracker: https://github.com/gorthauer/ubuntu-one-qml

Package: ubuntunotes-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends}, qutim (= ${binary:Version})
Description: Debug symbols for ubuntuNotes
 Debug symbols to provide extra debug info in case of crash.
